#stage{
    background-color: hsl(196deg 100% 45% / 14%);
}

a{
    text-decoration: none;
}

.card-container {
    /* background-color: hsl(196deg 100% 45% / 14%); */
    color: #848486;
    padding: 30px 0 0;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.card-container .delete a{
    color: hsl(0deg 0% 47%);
    text-shadow: 1px 0px 1px black;
    /* background-color: grey; */
    border-radius: 3px;
    font-size: 11px;
    padding: 7px 7px;
    position: absolute;
    top: 8px;
    z-index: 0;
    right: 8px;
    text-decoration: none;
}

.fa-search{
    color: rgb(106, 147, 209);
}

.card-container .top-label{

    text-shadow: 0px 0px 2px #8e8b8b;
    /* background-color: grey; */
    border-radius: 3px;
    font-size: 11px;
    padding: 7px 7px;
    position: absolute;
    top: 8px;
    z-index: 0;
    right: 0px;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
}

.card-container .fa-search:hover {
    color: #00a8e7;
}
.fa-plus {
    color: #90d076;
}


.card-container .fa-plus:hover {
    color: #65a74a;
}

label {
    border: 1px solid #012169;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 172px;
}
  
  label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}
  
  label img {
    height: 150px;
    width: 150px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    border-radius: 10px;
    display: block;
}

li {
    display: inline-block;
    min-width: 210px;
}

.class-caption{
    font-size: 0.9em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #012169;
    border-radius: 15px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 1px;
}

.class-caption .fa-edit{
    color:rgba(210, 165, 80); 
    font-size:x-large;
    margin-left: 5px;
}


/* modal Styles */

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }
  .modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: x-large;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: black;
  }
  
  .modal-window > div {
    border-radius: 1rem;
    border: 2px solid #012169;
    box-shadow: -1px 0px 20px 6px #163380;
  }
  
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  
  a {
    color: inherit;
  }